/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 8px;
}

main {
  display: flex;
  justify-content: center;
  gap: 30px;
  
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.imgcontainer {
  height: 300px;
  overflow: hidden;
}

.imgcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  padding: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.author,
.genre {
  font-size: 14px;
  color: #555;
  margin-bottom: 3px;
}
